.container{
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
}
.header{
    
    height: 100px;
    background-color: slategray;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
.totalItem{
    margin: 10px;
}